<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="semaphore.com.semaphorebetterorworse" >

    <!-- Permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOTH"/>
    <uses-permission android:name="com.microsoft.band.service.access.BIND_BAND_SERVICE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <category android:name="android.intent.category.LAUNCHER" />

    <!-- Declares the input method service -->
    <service android:name=".MyInputMethodService"
        android:label="@string/semaphor_service_label"
        android:permission="android.permission.BIND_INPUT_METHOD">
        <intent-filter>
            <action android:name="android.view.InputMethod" />
        </intent-filter>
        <meta-data android:name="android.view.im"
            android:resource="@xml/method" />
    </service>
    </application>

</manifest>
